.squar{
    width: 150px;
    height: 120px;
    float: left;
    margin-right: 10px;
    border:1px solid #000;
}
.lutton{
   background-color:#975; 
   width: 150px;
    height: 120px;
    float: left;
    margin-right: 10px;
    border:1px solid rgba(22, 122, 35, 0.979);
}
.clear{
    clear: both;
    padding: 5px;
}
button{
    margin: 5px;
    padding: 20px;
}
.tyu{
    background-color:#975; 
    width: 150px;
     height: 120px;
     float: left;
     margin-right: 10px;
     border:1px solid #000; 
}
.items{
    display: flex;
}
.item{
    width: 200px;
    height: 200px;
    background: rgb(175, 174, 174);
    margin: 20px;
    box-sizing: border-box;
}
.item-active{
    border: 2px solid rgb(250, 1, 1);
}